/* body */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.bg-color {
    background-color: #cfc7ea;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 1);
}

.bg-gray-light {
    background-color: #F1F1F1;
}

.bg-home {
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 102.8%;
    height:100vh;

}

.bg-head {
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-red-dark {
    background-color: #aa0f11;
}

.bg-pink {
    background-color: #BF8C6F;
}

.bg-gradient{
    background-image: var(--bs-gradient);
}

/*.navbar {
    text-align: right;
}*/

.nav-link {
    text-decoration: none;
    color:#fcfcfc;
    text-align: left;
}

/* a  */ 
/*
a:hover {
    text-decoration: none;
}

nav a, .link-decoration-none {
    text-decoration: none;
}

nav a:hover, .link-decoration-none:hover {
    text-decoration: underline;
}

*/

.link-decoration-none {
    text-decoration:none;
    color: black;
}

/*txt*/

/* color */
.txt-light {
    color: #DDD;
}

.txt-white{
    color: white;
}

.txt-pink{
    color: #ff6bfd;
}
/* text align */
.txt-center {
    text-align: center;
}

.txt-img{
  justify-content: center;
  align-items: center;
}


/* padding */
.padding-s {
    padding: 2%;
}

.padding-md {
    padding: 3% 8%; 
}

/* font-size */
.font-size-l {
    font-size: 30px;
}

.font-size-m {
    font-size: 18px;
}
/* img */
.img-center {
    display: block;
    margin: 0 auto;
    max-width:100%;
    backgrond-size:cover;
}

.img-50 {
    width: 50%;
}